*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.5);
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  width: 90%;
  display: flex;
  justify-content: center;
}
